---
# Use LLVM code formatting rules.
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 80
PointerAlignment: Left
FixNamespaceComments: true
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: false
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive