---
# Use LLVM code formatting rules.
Language: Cpp
BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'false'

ColumnLimit: 80
PointerAlignment: Left
FixNamespaceComments: 'true'