---
# Use Google code formatting rules.
Language: Cpp
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'false'

ColumnLimit: 100
PointerAlignment: Left
FixNamespaceComments: 'true'