# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/glfw-3.3.8/lib/*/*.lib

# Executables
*.exe
*.out
*.app


# VS Files
*.user
.vs

/lua_lib/x64
/lua_runtime/x64
/vk/x64
/shader/x64
/x64